nav{
  background: orange;
  color: white;
  height: 50px;

  #nav-row{
    a{
      text-decoration: none;
      color: white;
    }
    margin-top: 15px;
    margin-left: 5px;
  }
}
aside{
  background: lightyellow;
  height: 800px;
}

