nav {
  background: #816e47;
  color: white;

  a {
    text-decoration: none;

  }

}

aside {
  background: #c2c2ac;
  height: 800px;
}

mat-icon {
  color: white;
}

#search{
  border-bottom-left-radius: 75px;
  border-top-left-radius: 75px;
}
#searchBtn{
  border-bottom-right-radius: 75px;
  border-top-right-radius: 75px;
}
.clearfix {
  overflow: auto;
}
